# 4장 연습문제

In [19]:
# ex. 1
for i in range(5):
    for i in range(10):
        print('*', end='')
    print()

**********
**********
**********
**********
**********

In [18]:
# ex. 2
i = 0
while i < 5:
    k = 0
    while k < 10:
        print('*', end = '')
        k += 1
    i += 1
    print()

**********
**********
**********
**********
**********

In [26]:
# ex. 3
for i in range(6, 0, -1):
    for k in range(i, 0, -1):
        print(i, end = '')
    print()

666666
55555
4444
333
22
1

In [27]:
# ex. 4
for i in range(0, 7):
    for k in range(i):
        print(k, end = '')
    print()

0
01
012
0123
01234
012345

In [67]:
# ex. 5
for i in range(9):
    if i == 0 or i == 8:
        for k in range(9):
            print('*', end = ' ')
    else:
        print('*', end = ' ')
        for k in range(7):
            print(' ', end = ' ')
        print('*', end = ' ')
    print()

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

In [56]:
# ex. 6
i = 0
sum = 0
while i < 100:
    if i % 2 == 1:
        print('%d + '%i, end = '')
        sum += i
    i += 1
print('= %d' %sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 + = 2500

In [76]:
# ex. 7
n = int(input('N의 값을 입력하세요: '))
print('N의 값: %d' %n)
result = 0
for i in range(2, 2*n, 2):
    result += i**(i-1)
print('합계: %d' %result)

N의 값을 입력하세요: 12
N의 값: 12
합계: 15524694038166164674661959842

In [78]:
# ex. 8
n = int(input('N 값을 입력해주세요: '))

for i in range(2, n):
    num = True
    for j in range(2, i):
        if i%j == 0:
            num = False
            break
    if num:
        print(i, end = ' ')

N 값을 입력해주세요: 200
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [88]:
print('-'*30)
print('달러($)  원화(원)  유로(€)')
print('-'*30)
for i in range(10, 101, 10):
    w = i * 1080
    u = i * 0.81
    print('%3d%12d%9.1f'%(i, w, u))
print('-'*30)

------------------------------
달러($)  원화(원)  유로(€)
------------------------------
 10       10800      8.1
 20       21600     16.2
 30       32400     24.3
 40       43200     32.4
 50       54000     40.5
 60       64800     48.6
 70       75600     56.7
 80       86400     64.8
 90       97200     72.9
100      108000     81.0
------------------------------

In [96]:
print('-'*30)
print('cm   mm    m    inch')
print('-'*30)
for i in range(1, 100, 2):
    mm = i * 10
    m = i * 0.01
    inch = i * 0.3937
    print('%d%5d%8.2f%8.2f'%(i, mm, m, inch))
print('-'*30)

------------------------------
cm   mm    m    inch
------------------------------
1   10    0.01    0.39
3   30    0.03    1.18
5   50    0.05    1.97
7   70    0.07    2.76
9   90    0.09    3.54
11  110    0.11    4.33
13  130    0.13    5.12
15  150    0.15    5.91
17  170    0.17    6.69
19  190    0.19    7.48
21  210    0.21    8.27
23  230    0.23    9.06
25  250    0.25    9.84
27  270    0.27   10.63
29  290    0.29   11.42
31  310    0.31   12.20
33  330    0.33   12.99
35  350    0.35   13.78
37  370    0.37   14.57
39  390    0.39   15.35
41  410    0.41   16.14
43  430    0.43   16.93
45  450    0.45   17.72
47  470    0.47   18.50
49  490    0.49   19.29
51  510    0.51   20.08
53  530    0.53   20.87
55  550    0.55   21.65
57  570    0.57   22.44
59  590    0.59   23.23
61  610    0.61   24.02
63  630    0.63   24.80
65  650    0.65   25.59
67  670    0.67   26.38
69  690    0.69   27.17
71  710    0.71   27.95
73  730    0.73   28.74
75  750    0.75   29.53
77  770    0.77   30.31
79  790    0.79   31.10
81  810    0.81   31.89
83  830    0.83   32.68
85  850    0.85   33.46
87  870    0.87   34.25
89  890    0.89   35.04
91  910    0.91   35.83
93  930    0.93   36.61
95  950    0.95   37.40
97  970    0.97   38.19
99  990    0.99   38.98
------------------------------