# 6장 연습문제

In [1]:
db = dict(kim99 = 12000, lee66 = 11000, han55 = 3000, hong77 = 5000, hwang33 = 18000)

In [3]:
# Q1. ex1
num = 1
for key, val in db.items():
    print('%d. 아이디: %s, 마일리지: %s점\n' %(num, key, val))
    num += 1

1. 아이디: kim99, 마일리지: 12000점

2. 아이디: lee66, 마일리지: 11000점

3. 아이디: han55, 마일리지: 3000점

4. 아이디: hong77, 마일리지: 5000점

5. 아이디: hwang33, 마일리지: 18000점

In [24]:
# Q3. ex3
db['jang88'] = 7000
print('전체 딕셔너리: ' + str(db) + '\n')
print('%s님의 마일리지(%s점)가 추가 되었습니다.' %(list(db.keys())[-1], list(db.values())[-1]))

전체 딕셔너리: {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000, 'jang88': 7000}

jang88님의 마일리지(7000점)가 추가 되었습니다.

In [26]:
day = dict(월 = 25.5, 화 = 28.3, 수 = 33.2, 목 = 32.1, 금 = 17.3, 토 = 35.3, 일 = 33.3)

In [39]:
# Q5. ex5
print('-'*30)
for key in day:
    print('%5s' %key, end = '')
print()
print('-'*30)
for key, val in day.items():
    print('%6s' %val, end = '')

------------------------------
    월    화    수    목    금    토    일
------------------------------
  25.5  28.3  33.2  32.1  17.3  35.3  33.3

In [46]:
# Q7. ex7
num = []
for key, val in day.items():
    if val > 30:
        num.append(key)
print('기온이 30 이상인 요일: ' + str(num))

기온이 30 이상인 요일: ['수', '목', '토', '일']