# Chapter 06. 튜플과 딕셔너리

In [3]:
# ex 6-1
menu = ('coffee', 'milk', 'tea', 'cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

# menu[1] = 'cola'            read only: error

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

In [6]:
# ex 6-2
tuple1 = ('apple', 'banana', 'cherry')
tuple2 = ('orange', 'melon', 'strawberry')
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))
for x in tuple1:
    print(x)
del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [7]:
# tuple 만들기
# odds = (1, 3, 5, 7, 9)
odds = tuple(range(1, 10, 2))
print(odds)

(1, 3, 5, 7, 9)

In [10]:
squares = tuple(i*i for i in range(1, 6))
squares

(1, 4, 9, 16, 25)

In [11]:
# 표현식 (1, 9, 25, 49, 81)
odd_squares = tuple(i*i for i in range(1, 10) if i % 2 == 1)
odd_squares

(1, 9, 25, 49, 81)

### Sequence 객체

In [15]:
# 특정 값이 있는지 확인하기
a = [i for i in range(0, 100, 10)]
print(30 in a)
print(100 in a)

True
False

In [17]:
print(100 not in a)
print(30 not in a)

True
False

In [18]:
43 in (38, 76, 43, 62, 19)

True

In [19]:
1 in range(10)

True

In [20]:
'P' in 'Hello, Python'

True

In [21]:
# 시퀀스 객체 연결하기
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a + b)

[0, 10, 20, 30, 9, 8, 7, 6]

In [23]:
print((1, 2, 3) + (10, 20, 30))
print('Hello' + ' ' + 'World!')

(1, 2, 3, 10, 20, 30)
Hello World!

In [24]:
tuple(range(1, 10)) + tuple(range(10, 20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [25]:
# 문자열과 숫자 연결
'Python' + str(3)

'Python3'

In [27]:
# 시퀀스 객체 반복하기
print([1, 2, 3] * 3)
print(3 * [1, 2, 3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
print((1, 2, 3) * 3)
print('Python' * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
PythonPythonPython

In [29]:
# range(1, 5) * 3       error

### Dictionary

In [32]:
members = {'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이: %d' %len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이: 3

In [34]:
# ex 6-4
name = '안진영'
scores = {'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

print('이름: %s' %name)
print('국어: %d' %scores['kor'])
print('영어: %d' %scores['eng'])
print('수학: %d' %scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름: 안진영
국어: 70
영어: 85
수학: 90

In [36]:
# ex 6-5
phone = {'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019}
print(phone)

for key in phone:
    print('%s => %s'%(key, phone[key]))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019}
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019

In [37]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee':550, 'armor': 18.72}
lux

{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [38]:
lux1 = dict(health = 490, mana = 334, melee = 550, armor=18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [41]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

### 집합(Set)

In [42]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}