# Chapter 02. 파이썬의 기본 문법

In [1]:
# 예제 2-1
a = 20
b = 30
c = a + b
print(c)

50

In [2]:
# ex 2-2
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

In [3]:
# ex 2-2
x = 20
computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
my_Birth_Year = 1997
data2 = 20.3

print(x, computer, Age, my_score, _name, my_Birth_Year, data2)

20 Mac 30 70 홍길동 1997 20.3

In [4]:
# ex 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [5]:
# ex 2-5
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [6]:
# ex 2-6
a = 'x'
b = 'I am ok.'
c = "안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok.
안녕하세요.
<class 'str'>

In [8]:
# ex 2-7
a = 30             # 0001 1110
print(a)
print(type(a))

b = '30'           # ASCII code (0x33, 0x30), Human interaction
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [9]:
# ex 2-8
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [15]:
y = '나는 행복합니다.'
print(y[:2])
print(y[3:-1])
start = 3
print(y[start: start+2])

나는
행복합니다
행복

In [17]:
z = '내 강아지 이름은 happy예요.'
print(z[2:5], z[10:15], z[-8:-3])

강아지 happy happy

In [33]:
# ex 2-16
a = '쥐 구멍에 볕 들 날 있다.'
print(len(a))

15

In [34]:
# ex 2-17
name = '정승기'
greet = name + '님 안녕하세요!'
print(greet)

정승기님 안녕하세요!

In [35]:
# ex 2-18
eng = 80
result = '영어 점수: ' + eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [36]:
result = '영어 점수: ' + str(eng) + '점'
print(result)

영어 점수: 80점

In [51]:
# ex 2-22
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' %(year, month, day)
print(a)

2020-03-05

In [52]:
# ex 2-23
height = 172.5
a = '키는 %.2f입니다.' %height
print(a)

키는 172.50입니다.

In [64]:
a = '키는 %10.2f입니다.' %height
print(a)

키는     172.50입니다.

In [73]:
# ex 2-24
name = '정승기'
age = 18
eyesight = 1.2

a = '이름: {}'.format(name)
b = '나이: {}'.format(age)
c = '시력: {}'.format(eyesight)

print(a)
print(b)
print(c)

이름: 정승기
나이: 18
시력: 1.2

In [83]:
# 문자열 메소드
x = 'I am happy!'
x.count('am')

1

In [84]:
x.find('happy')

5

In [85]:
x.upper()

'I AM HAPPY!'

In [86]:
x.lower()

'i am happy!'

In [87]:
x.replace('am', 'was')

'I was happy!'

In [89]:
x.split(' ')

['I', 'am', 'happy!']

In [90]:
x.isspace()

False

In [94]:
# ex 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print("두 과목 점수: %d, %d" %(score1, score2))
print("합계: %d, 평균: %.2f"%(sum, avg))

두 과목 점수: 80, 87
합계: 167, 평균: 83.50

In [95]:
# sep, end
print('오늘은')
year = 2020
month = 5
day = 29
print(year, month, day)
print("입니다.")

오늘은
2020 5 29
입니다.

In [96]:
print('오늘은', end = ' ')
print(year, month, day, sep = '/', end=' ')
print('입니다.')

오늘은 2020/5/29 입니다.

In [97]:
# ex 2-31
name = input('이름을 입력하세요: ')
print('%s님 반갑습니다.' %name)

이름을 입력하세요: 부처
부처님 반갑습니다.

In [99]:
# ex 2-33
a = int(input('first number> '))
b = int(input('second number> '))
print('sum = ', a+b)

first number> 30
second number> 198
sum =  228

In [101]:
# ex 2-35
# 파일명 : ex 2-35.py
"""
프로그램명: 두 수 더하기
작성자: 홍길동
작성일: 2012.9.20
"""

a = 10                 # 변수 a에 10 저장
b = 20                 # 변수 b에 20 저장

c = a + b              # 두 수를 더해 변수 c에 저장

# 결과를 출력한다.
print(c)

30