In [1]:
import pandas as pd
df = pd.read_csv('doctor_2019.csv')

In [2]:
df

     지역           병원명  일반의 수  인턴 수  레지던트 수  전문의 수
0    인천  가톨릭대학교인천성모병원      1    22      68    201
1    서울        강북삼성병원      6    28     137    204
2    서울       건국대학교병원      1    37     164    225
3    대구       경북대학교병원      5    77     209    225
4    경남       경상대학교병원      1    35     114    182
..   ..           ...    ...   ...     ...    ...
350  서울          홍익병원      1     4      14     55
351  강원        홍천아산병원      1     0       0     10
352  경기  효산의료재단 안양샘병원      7     5      17     86
353  경기   효산의료재단 지샘병원      2     0       2     72
354  서울          희명병원      1     0       0     22

[355 rows x 6 columns]

In [8]:
df.groupby(df['지역'])