# SQLite3 훈련

In [1]:
import sqlite3

In [6]:
conn = sqlite3.connect('./test.db')

In [7]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

In [8]:
rows

[(1, 22, '이태양', '투수'),
 (2, 13, '최재훈', '포수'),
 (3, 3, '노태형', '내야수'),
 (4, 19, '이용규', '외야수'),
 (5, 5, '윤대경', '투수'),
 (6, 20, '남지민', '투수'),
 (7, 2, '김창혁', '포수'),
 (8, 102, '김현우', '포수'),
 (9, 4, '조한민', '내야수'),
 (10, 9, '이동훈', '외야수')]

In [10]:
cur.execute("SELECT * FROM eagles WHERE position = '투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(5, 5, '윤대경', '투수')
(6, 20, '남지민', '투수')

## 데이터 추가

In [11]:
cur.execute("INSERT INTO eagles(back_no, name, position) VALUES(1, '하주석', '내야수')")

In [12]:
cur.execute("SELECT * FROM eagles WHERE position = '내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(3, 3, '노태형', '내야수')
(9, 4, '조한민', '내야수')
(11, 1, '하주석', '내야수')

In [13]:
## DB에 반영
conn.commit()

In [14]:
# 파라메터: 튜플을 사용해서 전달
back_no = 25
name = '최진행'
position = '외야수'
sql = 'INSERT INTO eagles(back_no, name, position) VALUES(?, ?, ?)'
cur.execute(sql, (back_no, name, position))
conn.commit()

In [15]:
# 튜플 리스트 사용
players = [(38, '안영명', '투수'), (54, '서균', '투수')]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [16]:
# excutemany() 사용
players = [(48, '벨', '투수'), (53, '김민우', '투수')]
cur.executemany(sql, players)
conn.commit()

## 데이터 조회

In [17]:
# 순회 주회
sql = "select * from eagles where position = '포수'"
cur.execute(sql)
for result in cur:
    print(result)

(2, 13, '최재훈', '포수')
(7, 2, '김창혁', '포수')
(8, 102, '김현우', '포수')

In [19]:
# 한 건 조회
cur.execute(sql)
result = cur.fetchone()
print(result)

(2, 13, '최재훈', '포수')

In [30]:
result = cur.fetchone()
print(result)

None

In [21]:
# 개수 지정 조회
sql = "select * from eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (5, 5, '윤대경', '투수'), (6, 20, '남지민', '투수')]

In [25]:
# 전부 조회
sql = "select * from eagles where position = '내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(3, 3, '노태형', '내야수'), (9, 4, '조한민', '내야수'), (11, 1, '하주석', '내야수')]

In [31]:
# 필요한 컬럼만 조회
sql = "select back_no, name from eagles where back_no > 20"
cur.execute(sql)
cur.fetchall()

[(22, '이태양'),
 (102, '김현우'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '벨'),
 (53, '김민우')]

In [32]:
# 등번호가 30부터 39까지인 선수들.
sql = "select * from eagles where back_no between 20 and 29"
cur.execute(sql)
cur.fetchall()

[(1, 22, '이태양', '투수'), (6, 20, '남지민', '투수'), (12, 25, '최진행', '외야수')]

In [33]:
# 등번호가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
cur.fetchall()

[(8, 102, '김현우', '포수')]

In [35]:
# 포지션별 사람 수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
cur.fetchall()

[('내야수', 3), ('외야수', 3), ('투수', 7), ('포수', 3)]

In [97]:
# 등 번호가 57번인 선수는?
back_no = 20
sql = "select * from eagles where back_no = ?"
cur.execute(sql, (back_no,))
cur.fetchall()

[(6, 20, '남지민', '투수')]

## 데이터 변경

In [99]:
# id가 11인 하주석 선수의 포지션을 외야수로 변경
id = 11
position = '외야수'
sql = "UPDATE eagles SET position = ? WHERE id = ?"
cur.execute(sql, (position, id))
conn.commit()

## 데이터 삭제

In [101]:
sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id, ))
conn.commit()

In [102]:
conn.close()